{% extends "base.html" %}

{% block content %}
<h1>Tutorial Examples</h1>
<ul>
    <li><a href="/1/">Example 1: Basic Page/Component</a></li>
    <li><a href="/2/">Example 2: Add second component</a></li>
    <li><a href="/3/">Example 3: Dependent Components</a></li>
    <li><a href="/4/">Example 4: Deferring Components</a></li>
    <li><a href="/5/">Example 5: Using final instead of init</a></li>
    <li><a href="/6/">Example 6: ObjCache</a></li>
    <li><a href="/7/">Example 7: Child Components</a></li>
    <li><a href="/8/">Example 8: Guard Components</a></li>
    <li><a href="/8/?pass_guard=yes">Example 8: Guard Components (pass test)</a></li>
    <li><a href="/9/">Example 9: Accessing request attributes</a></li>
    <li><a href="/10/">Example 10: Success messages</a></li>
</ul>
{% endblock content %}
